@import '~@angular/material/core/theming/all-theme';

@include md-core();

$theme-primary: md-palette($md-teal);
$theme-accent: md-palette($md-amber, A200, A100, A400);
$theme-warn: md-palette($md-red);
