body.pos md-toolbar{background: #222d32; color: #fff;}
md-toolbar.topnav-container .topnav-title img{ height: 24px; width:184px; margin-top: 5px;}
body.pos md-toolbar.page-footer{background: #eeeeee; color:rgba(0, 0, 0, 0.87);}
